version: "3.8"

services:
  redis:
    image: redis
    container_name: liveorder-redis
    ports:
      - "6379:6379"

  backend:
    build: ../backend
    container_name: liveorder-backend
    ports:
      - "5000:5000"
    depends_on:
      - redis

